.signInPage {
    margin-top: 3.9vh;
    display: flex;
    justify-content: center;
}

.signInPage img {
    height: 80vh;
}

.signInPage form {
    border-bottom-left-radius: 50px;
    margin-left: -13%;
    margin-top: 13%;
    height: calc(8vh + 130px);
}
