body {
  background-color: #e07a5f;
}
form{
  border: 0.2em solid #81b29a;
  display: flex;
  flex-direction: column;
  background-color: #fdfaf4;
  width: 20%;
  padding: 2%;
}

input{
  width: 70%;
}

form button {
  margin-top: 10%;
  width: 40%;
  text-align: center;
  position: relative;
  background: none;
  color: #3d405b;
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid #3d405b;
  padding: 0.5em 1em;
}

form button::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #fbf1ef;
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

form button::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: #fbf1ef;
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}
form button:hover::before {
  right: 80%;
}

form button:hover::after {
  left: 80%;
}
