.UserNavBar{
    background-color:  #154e4a;
    color: white;
    display: flex;
    padding-top: 1vh;
    padding-left: 1vh;
    height: 4vh;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.UserNavBar a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}