.cookPage{
    display: flex;
    justify-content: space-evenly;
}

.ordersPanel {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35vw;
    background-color: #3d405b;
}

.cookPage h1 {
    text-align: center;
}

.order {
    background-color: #fbf1ef;
}

.order button {
    width: 5vw;
    height: 2vw;
    text-align: center;
}