.formsSection{
    display: flex;
    justify-content: space-evenly;
}

.addEmployeeForm{

}

.managerPage form{
    display: flex;
    flex-direction: column;
    background-color: rgb(228,228,234);
    width: 20%;
    padding: 2%;
}

.managerPage input{
    width: 70%;
}

.managerPage h1,h3{
    text-align: center;
}

.header{
    background-color: #81b29a;
    border: 0.15em solid #3d405b;
}

.managerPage form button{
    background-color: #09d3ac;
    width: 20%;
}