.AdminNavBar{
    background-color:  #154e4a;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1vh;
    height: 3em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.AdminNavBar a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}